<?xml version="1.0"?>
<!--
/**
 * Hodor
 *
 * Hodor Hodor Hodor Hodor
 *
 * @category  Hodor
 * @package   Hodor_Hodor
 * @author    Hodor Hodor <hodor@hodor.hodor>
 * @copyright Hodor
 */
-->
<config>
    <modules>
        <Hodor_Hodor>
             <version>0.1.0</version>
        </Hodor_Hodor>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <translate>Hodor_Hodor_Hodor_Hodor_Hodor</translate>
                </rewrite>
            </core>
        </models>
        <helpers>
            <hodor>
                <class>Hodor_Hodor_Hodor</class>
            </hodor>
        </helpers>
    </global>
</config>
